.backgroundContent {
  background: url(../../assets/banner.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  .shadowImage {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;

    .shadowNavbar {
      height: 70px;
      background-color: rgba(112, 112, 112, 0.36);
    }
    .container {
      width: 1000px;
      margin: auto;

      .menu {
        display: flex;
        justify-content: space-between;

        ul {
          display: flex;
          list-style: none;
          padding: 0;

          a {
            text-decoration: none;
            font-size: 25px;
            color: #D1D1D1;
            font-family: 'Roboto', sans-serif;
            line-height: 33px;
            margin-right: 48px;

            &:hover {
              color: #fff;
            }
          }
        }
      }
      .footerContainer {
        margin-top: 674px;
        display: flex;
        justify-content: space-between;

        a {
          font-size: 45px;
          line-height: 60px;
          text-decoration: none;
          color: #D1D1D1;
          font-family: 'Roboto', sans-serif;
          border: 1px solid #D1D1D1;
          border-radius: 50px;
          padding: 7px 43px 7px 43px;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}